@{
    ViewBag.Title = "Authors";
}


<div style="color:black">
    <div class="text-danger">
        <h1>Author Services:</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Add an Author</h2>
        <p>Add a new Author to the library!</p>
        <p><a class="btn btn-default" href="/Authors/AddAuthor">Add &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get all Authors</h2>
        <p>Get a list of all the Authors in the library!</p>
        <p><a class="btn btn-default" href="/Authors/GetAll">Get All &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Delete an Author</h2>
        <p>Delete an Author from the library!</p>
        <p><a class="btn btn-default" href="/Authors/DeleteAuthor">Delete &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Update an Author</h2>
        <p>Update the information about an author!</p>
        <p><a class="btn btn-default" href="/Authors/Update">Update &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get Books</h2>
        <p>Get all books written by a specific Author!</p>
        <p><a class="btn btn-default" href="/Authors/GetBooks">Get Books &raquo;</a></p>
    </div>
</div>