
@{
    ViewBag.Title = "Contacts";
}

<p>

</p>
<address>
    <p>
        <strong>Name: Atanas Velev</strong>
    </p>
    <p>
        <strong>
            Education: SWIFT ACADEMY
        </strong>(October 2019 - February 2020)
    </p>
    <strong>Email:</strong>   <a href="atanasgeorgievvelev@gmai.com">atanasgeorgievvelev@gmail.com</a>
    <br />
</address>