@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color:aliceblue">
    <div style="color:black">
        <div class="container text-center">
            <div class="text-danger">
                <h1>ATANAS' LIBRARY PROJECT</h1></div>
            </div>
    </div>
    <p class="text-center" style="color:black">This is my first ASP.NET project, made for SWIFT Academy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="text-danger"><h2>Book Services</h2></div>
        <p>
            Enter our "Books" section! There you will be able to add, update,view or delete information about your books.
        </p>
        <p><a class="btn btn-default" href="/Books/Index">Go to &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <div class="text-danger">
            <h2>Author Services</h2></div>
            <p>In this section you can add,delete,view or edit information about your authors!</p>
            <p><a class="btn btn-default" href="Authors/Index">Go to &raquo;</a></p>
        </div>

    <div class="col-md-4">
        <div class="text-danger">
            <h2>Customer Services</h2></div>
            <p>In this section you can add,delete,view or edit information about your customers!</p>
            <p><a class="btn btn-default" href="Customers/Index">Go to &raquo;</a></p>
        </div>
</div>
