
@{
    ViewBag.Title = " Customers";
}

<div style="color:black">
    <div class="text-danger">
        <h1>Customer Services:</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Customer</h2>
        <p>
            Add a new Customer to the library!
        </p>
        <p><a class="btn btn-default" href="/Customers/Add">Add &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Update a Customer</h2>
        <p>Change the information about a Customer!</p>
        <p><a class="btn btn-default" href="/Customers/Update">Update &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Delete a Customer</h2>
        <p>Delete a Customer form the database!</p>
        <p><a class="btn btn-default" href="/Customers/Delete">Delete &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get All Customers</h2>
        <p>Get a list of all the Customers in this library!</p>
        <p><a class="btn btn-default" href="/Customers/GetAll">Get All &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Rent a Book</h2>
        <p>Rent a Book to a particular Customer!</p>
        <p><a class="btn btn-default" href="/Customers/RentABook">Rent &raquo;</a></p>
    </div>

</div>

