
@{
    ViewBag.Title = "Updated";
}

<div style="color:black">
    <div class="text-danger">
        <h1>The customer has been successfully updated!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-0">
        <p><a class="btn btn-default" href="/Customers/Index">Go Back &raquo;</a></p>
    </div>
</div>
