@using Library.Models;

@model Book
@{
    ViewBag.Title = "Delete a Book";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Delete", "Books", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))

{@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Id, "Book ID *", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @value = "delete book by Id" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn  btn-primary" value="Delete" />
    </div>
</div>

}

