@using System.Globalization;
@{
    ViewBag.Title = "GetAllRentedForPeriod";
}
@model List<int>

<h2>Get All Rented For Period</h2>
@for (int i = 1; i <= 12; i++)
{
    <div>Month: <strong>@CultureInfo.CreateSpecificCulture("en").DateTimeFormat.GetAbbreviatedMonthName(i)</strong></div>
    <div>Number of rented books: <strong>@ViewBag.Books[i - 1]</strong></div>
}

