@using System.Globalization;
@{
    ViewBag.Title = "GetAllRentedForPeriod";
}
@model List<int>

<h2>All books which have been rented in 2020 </h2>
@for (int i = 1; i <= 12; i++)
{
    <div><strong>@CultureInfo.CreateSpecificCulture("en").DateTimeFormat.GetAbbreviatedMonthName(i)</strong></div>
    <div>Number of rented books: <strong>@ViewBag.Books[i - 1]</strong></div>
    <div><strong>----------------------</strong></div>
}

